@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-pink {
  @apply bg-gradient-to-r from-pink-500 to-blue-400;
}
.bg-gradient-blue {
  @apply bg-gradient-to-r from-blue-500 to-blue-600;
}
.text-gradient-pink {
  @apply inline-block text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-blue-400;
}
.text-gradient-blue {
  @apply inline-block text-transparent bg-clip-text bg-gradient-blue;
}

.btn-border-pink {
  @apply bg-gradient-pink rounded-md p-0.5;
}
.btn-bg-pink {
  @apply flex items-center justify-center w-full h-full bg-white rounded-md;
}
.btn-bg-pink:hover {
  @apply bg-transparent text-white;
}
.btn-text-pink {
  @apply text-gradient-pink w-full h-full text-center flex items-center justify-center;
}
.btn-text-pink:hover {
  @apply text-white;
}

@layer base {
  .header-bg {
    background: url('./assets/img/bg-filter.png') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .font-josefin {
    font-family: 'Josefin Sans', sans-serif;
  }
  .card-shadow:hover {
    -webkit-box-shadow: 4px 4px 35px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 35px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 35px 6px rgba(0, 0, 0, 0.2);
  }
  .bg-50 {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .w-meme {
    width: 334px;
  }
  .w-alert {
    width: 280px;
  }
  .pulsing {
    animation: pulsing 1s infinite;
  }
  @keyframes pulsing {
    from {
      width: 0px;
      height: 0px;
    }
    50% {
      width: 100px;
      height: 50px;
    }
    to {
      width: 0px;
      height: 0px;
    }
  }
  @screen md {
    .w-meme {
      width: 550px;
    }
    .w-alert {
      width: 490px;
    }
  }
  @screen xl {
    .w-meme {
      width: 712px;
    }
  }
}
